#neuralNetGraph {
  border: 1px solid lightgray;
  height: 600px;
}

#scoreGraph {
  /*
  border: 1px solid lightgray;
  height: 200px;
  */
}

input {
  margin: 2px 40px 2px 40px;
}

button {
  margin: 6px 8px 2px 8px;
}

